body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

div#dat_gui{
    position:absolute;
    z-index: 1;
    /* background-color: #444; */
}

.setting label,
.seeting input {
    display:flex;
    margin-bottom: 10px;
}